.homepage
{
  display: flex;
  
}

h3
{
  font-weight: 500;
  font-size: 50px;
  font-style: italic;
  font-family:'Garamond, serif';
  text-align: center;
  color: darkblue;
 padding: 20px;
}
.navbar
{
  list-style-type: none;
  display: flex;
  margin-left: 10px;
  width: 500px;
  margin-top: 10px;
  
}
.navbar li
{
    
    width: 120px;
   
}
.navbar a{
    text-decoration-line: none;
    color: black;
    font-size: 20px;
 }
 .searchicon input
{
  width: 250px;
  height: 15px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
 margin-left: 10px;
}
.searchicon {
  display: flex;
  align-items: center;
  width:300px;
  height:40px;
  background-color:whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  margin-top: 15px;
 
}

  .profiledata
{
 display: flex;
 justify-content: center;
align-items: center;
margin-left: 80px;
margin-bottom: 5px;
}
.profiledata h4
{
  margin-left: 10px;
  font-size: 20px;
}
.category a, .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}



.category li {
  display: inline-block;
}

.category-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.category-content a {
  color: black;
  padding:5px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.category:hover .category-content {
  display: block;
}